:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
  background-image: url('components/images/moss.jpg');
  background-size: cover;
}

.nav-bar { 
  background-color: #217969;
}

.center-box { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lower-box { 
  background-color: #b3e4b9;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right-box { 
  position: absolute;
  top: 40%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.green-right-box { 
  background-color: #217969;
  position: absolute;
  top: 40%;
  left: 80%;
}

.green-box { 
  background-color: #217969;
}

.green-left-box { 
  background-color: #217969;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.green-center-box { 
  background-color: #217969;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.green-login-box { 
  background-color: #217969;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.green-button {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.green-button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


.navbar-button {
  background-color: #36A9AE;
  background-image: linear-gradient(#37ADB2, #329CA0);
  border: 1px solid #2A8387;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  line-height: 100%;
  margin: 0;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 17%;
}

.navbar-button:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: .15s, .15s;
}

.navbar-button:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.navbar-button:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.navbar-button:disabled:active {
  pointer-events: none;
}

.navbar-button:disabled:hover {
  box-shadow: none;
}


.login-button {
  align-items: center;
  background-color: #b3e4b9;
  background-position: 0 0;
  border: 1px solid #b3e4b9;
  border-radius: 11px;
  box-sizing: border-box;
  color: #137f1a;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.login-button:active,
.login-button:hover,
.login-button:focus {
  outline: 0;
}


.login-button:active {
  background-color: #137f1a;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.login-button:hover {
  background-color: #12b723;
  border-color: #12b723;
}

.login-button:active:hover,
.login-button:focus:hover,
.login-button:focus {
  background-color: #137f1a;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.logout-button {
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.logout-button:active,
.logout-button:hover,
.logout-button:focus {
  outline: 0;
}


.logout-button:active {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.logout-button:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

.logout-button:active:hover,
.logout-button:focus:hover,
.logout-button:focus {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.headline { 
  color: #dbd6d6;
  font-family: 'Merriweather', serif; 
  font-size: 30px; 
  font-weight: 300; 
  line-height: 40px; 
  margin: 0 30px 40px; 
  text-align: center; 
  text-shadow: #2a8d7b -1px -1px; }

.manage-account-font { 
  color: #ffffff;
  font-family: 'Merriweather', serif; 
  font-size: 35px; 
  font-weight: 300; 
  line-height: 40px; 
  margin: 0 30px 40px; 
  text-align: center; 
  text-shadow: #2a8d7b -1px -1px; }

.manage-account-font-small { 
  color: #ffffff;
  font-family: 'Merriweather', serif; 
  font-size: 20px; 
  font-weight: 300; 
  line-height: 40px; 
  margin: 0 30px 40px; 
  text-align: center; 
  text-shadow: #2a8d7b -1px -1px; }

.journal-font { 
  color: #ffffff;
  font-family: 'Merriweather', serif; 
  font-size: 20px; 
  font-weight: 300; 
  line-height: 40px; 
  margin: 0 30px 40px; 
  text-align: center; 
  text-shadow: #2a8d7b -1px -1px; }
